In [2]:
import pandas as pd

In [13]:
# library settings configuration

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [18]:
file = 'Resources/healthcare-dataset-stroke-data.csv'

heart_df = pd.read_csv(file)
heart_df.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [19]:
len(heart_df)

5110

In [28]:
heart_df.columns.to_list()

['Age',
 'Gender',
 'Heart Rate',
 'Pressure High',
 'Pressure Low',
 'Glucose',
 'KCM',
 'Troponin',
 'Output']

In [29]:
heart_df.loc[heart_df['Gender'] == 1]
heart_df.dropna()
heart_df.head()

,Age,Gender,Heart Rate,Pressure High,Pressure Low,Glucose,KCM,Troponin,Output
0,64.0,1.0,66.0,160.0,83.0,160.0,1.80,0.012,0.0
1,21.0,1.0,94.0,98.0,46.0,296.0,6.75,1.060,1.0
2,55.0,1.0,64.0,160.0,77.0,270.0,1.99,0.003,0.0
3,64.0,1.0,70.0,120.0,55.0,270.0,13.87,0.122,1.0
4,55.0,1.0,64.0,112.0,65.0,300.0,1.08,0.003,0.0

In [18]:
heart_df.dtypes

Year                           object
LocationAbbr                   object
LocationDesc                   object
GeographicLevel                object
DataSource                     object
Class                          object
Topic                          object
Data_Value                    float64
Data_Value_Unit                object
Data_Value_Type                object
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Confidence_limit_Low          float64
Confidence_limit_High         float64
StratificationCategory1        object
Stratification1                object
StratificationCategory2        object
Stratification2                object
StratificationCategory3        object
Stratification3                object
LocationID                      int64
dtype: object